<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
<listeners>
    <listener class-name="utilities.extent_reports_manager"/>
</listeners>
  <parameter name="browser" value="chrome" />
  <test name="Login Tests">
    <classes>
    <class name="test_cases.LoginTests"/>
      <class name="test_cases.PIMTests"/>
      <class name="test_cases.LeaveTests"/>
      <class name="test_cases.RecruitmentTests"/>
      <class name="test_cases.GeneralTests"/>
    </classes>
  </test>
</suite>
